.search-back {
  padding-top: 14px;
  padding-right: 5px;
  font-size: 25px;
}

.search-back__icon {
  background-color: #f6f6f6;
  border-radius: 100%;
  color: #003062;
  padding: 2px;
  font-size: 21px;
}

.search__box {
  align-items: center;
  background-color: hsl(0, 0%, 100%);
  border-color: hsl(0, 0%, 80%);
  border-radius: 8px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  flex-wrap: wrap;
  min-height: 38px;
  position: relative;
  flex: 1;
  padding: 2px 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.search__text {
  color: hsl(0, 0%, 20%);
  margin-left: 2px;
  margin-right: 2px;
  max-width: calc(100% - 8px);
  position: absolute;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-option--selected, .search-option__icon--selected {
  background-color: #002f62e0;
  color: #f6f6f6;
}

.search-option--unselected {
  background-color: #f6f6f6;
}

.directions__button--center {
  text-align: center;
  z-index: 20001;
  margin-bottom: 20px;
}

.directions__button {
  max-width: fit-content;
}
