.speed {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
}

.speed__text {
  margin-left: 5px;
  margin-bottom: 15px;
}

.speed__options {
  display: flex;
  flex-wrap: wrap;
}

.speed__option {
  margin: 5px;
  padding: 18px;
}

.speed__option--selected {
  background-color: #002f62e0;
  color: #f6f6f6;
}

.speed__option--unselected {
  background-color: #f6f6f6;
}

.sign-out {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-out__button {
  color: #002f62e0;
}
