.login-page {
  padding: 12px;
}

/* ----- SPLASH ----- */
.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 200;
}

.splash--hide {
  display: none;
}

.splash__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* ----- LOGIN ----- */
.login__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__row--top {
  height: 50%;
}

.login__row--bottom {
  height: 40%;
}

/* ----- APP-INFO ----- */
.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-info__img {
  width: 80%;
}

.app-info__text {
  text-align: center;
}

/* ----- SNS-LOGIN ----- */
.sns-login__text {
  text-align: center;
}

.sns-login__row {
  width: 80%;
  margin: auto;
}

.sns-login__col {
  text-align: center;
}

.sns-login__button {
  height: 60px;
}

/* ----- BUTTONDIV ----- */
#buttonDiv {
  margin: auto;
}

#buttonDiv iframe {
  width: 270px !important;
  height: 48px !important;
  margin: auto !important;
}

#buttonDiv iframe #container {
  margin: auto !important;
}

/* ----- AUTH ----- */
.auth {
  width: 100%;
}

.auth-divider {
  display: flex;
  align-items: center;
  padding: 10px;
}

.auth-divider__line {
  flex: 1;
  height: 3px;
  background-color: #000;
  margin: 8px;
}

/* ----- SNS-GUEST-LOGIN ----- */
.sns-guest-login {
  text-align: center;
}
