.login-page {
  padding: 12px;
}
.splash {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #ffffff;
  z-index: 200;
}
.splash--hide {
  display: none;
}
.splash__img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.login {
}
.login__row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__row--top {
  height: 60%;
}
.login__row--bottom {
  height: 40%;
}

.app-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.app-info__img {
  width: 60%;
  /* margin: auto; */
}
.app-info__text {
  text-align: center;
}

.auth {
}

.sns-login {
}
.sns-login__text {
  text-align: center;
}
.sns-login__grid {
}
.sns-login__row {
  width: 320px;
  margin: auto;
}
.sns-login__col {
  text-align: center;
}
.sns-login__button {
  height: 60px;
}

#buttonDiv {
  margin: auto;
}
#buttonDiv iframe {
  width: 270px !important;
  height: 48px !important;
  margin: auto !important;
}
#buttonDiv iframe #container {
  margin: auto !important;
}

.auth {
  width: 100%;
}
.auth-divider {
  display: flex;
  align-items: center;
  padding: 12px;
}
.auth-divider__div {
  flex: 1;
  height: 3px;
  background-color: #000;
  margin: 8px;
}

.sns-guest-login {
  text-align: center;
}
