.option {
  display: flex !important;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}
.option__text {
  display: flex;
  flex: 1;
  align-content: center;
  width: 80%;
  margin-right: 4px;
  word-break: break-all;
}
.option__icon {
  z-index: 1000;
}
