.sign-in {
  position: absolute;
  text-align: center;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-in__img {
  max-width: 320px;
  height: auto;
}

.sign-in__button {
  --box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}
