.directions__dropdown {
  display: flex;
  margin-left: 14px;
}

.directions__dropdown-text {
  margin: 0;
  color: grey;
  padding-bottom: 3px;
}

.directions__dropdown-icon {
  padding-left: 5px;
  color: grey;
  font-size: 20px;
}

.dropdown--visible {
  visibility: visible;
}

.dropdown--hidden {
  visibility: collapse;
  height: 0;
}

.dropdown__text {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 42px;
  padding-top: 8px;
  padding-bottom: 8px;
}
