/* ----- PAGE-HEADER ----- */
.page-header {
  box-shadow: 0px 0px 8px 2px rgba( 0, 0, 0, 0.1 );
  margin-bottom: 20px;
  background-color: #002f62e0;
  border-radius: 0px 0px 25px 25px;
}

.page-header__text { 
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  color: #f6f6f6;
}

/* ----- SEGMENT ----- */
.segment {
  margin-bottom: 10px;
}

/* ----- FAVOURITES-LIST ----- */
.favourites-list__text {
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----- FAVOURITES-ITEM ----- */
.favourites-item__text {
  flex: 1;
}

.favourites-item__link:focus-visible {
  outline: none;
}

.favourites-item__icon {
  background-color: #f6f6f6;
  border-radius: 100%;
  color: #003062;
  padding: 5px;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}
